<div class="row">
    <div class="col-md-5">
      <h2>Your orders</h2>
      <ul class="list-group">
        <li class="list-group-item"
          *ngFor="let pizza of pizzas"
          (click)="selectPizza(pizza)"
          [class.active]="pizza === selectedPizza">
          {{pizza.pizzaname}}
        </li>
      </ul>
      <button class="w3-button w3-green w3-section" (click)="createNewPizza()">NEW ORDER</button>
    </div>
    <div class="col-md-5 col-md-offset-2">
      <pizza-details
        [pizza]="selectedPizza"
        [createHandler]="addPizza"
        [updateHandler]="updatePizza"
        [deleteHandler]="deletePizza">
      </pizza-details>
    </div>
  </div>
  